services:
  # default configuration for services in *this* file
  _defaults:
    autowire: true      # Automatically injects dependencies in your services.
    autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.
    public: false

  UmengOpenApiBundle\Controller\:
    resource: '../../Controller/'
  UmengOpenApiBundle\Repository\:
    resource: '../../Repository/'
    public: true
  UmengOpenApiBundle\Service\:
    resource: '../../Service/'
    public: true
  UmengOpenApiBundle\Command\:
    resource: '../../Command/'

  UmengOpenApiBundle\Service\UmengDataFetcherInterface:
    alias: UmengOpenApiBundle\Service\UmengDataFetcher

  umeng-open-api.property-accessor:
    class: Symfony\Component\PropertyAccess\PropertyAccessor
    factory: [ 'Symfony\Component\PropertyAccess\PropertyAccess', 'createPropertyAccessor' ]
